body{
    background-color: dimgrey;
}

ul{
    margin: 0 0 0 18px
}
.head{
    background-color: black;
}

.content{
    background-color: white;
}

.foot {
	background-color: black;
    align-content: center
}
.foot>p{
	color: white;
    font-size: 16px;
    align-content: center
}